<form action="{% url 'UUID:postedit' NICK=NICK UUID=UUID %}" id="{{ blobeditform.htmlid }}" method="post" class="w-100">
        {% csrf_token %}{{ blobeditform.non_field_errors }}
        {% for field in blobeditform %}{% if field.is_hidden %} {{ field }} {% else %}
         <div class="form-group w-100" id="id_div_blobeditform_{{field.name}}"  >
          {{ field.errors }}    {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <small class="font-italic">{{ field.help_text|safe }}</small>
          {% endif %}
         </div>
        {% endif %}{% endfor %}
        <input type="submit" class="btn btn-primary" onclick="update_editform(); return check_primary_tab();" id="id_blobeditform_commit" name="commit" value="Commit">
        <input type="submit" class="btn btn-primary"  id="id_blobeditform_save_no_reload" name="save" value="Save">
</form>
<!--onclick="update_editform(); post_blobeditform(); alert('{{ blobeditform.htmlid }}');"-->
<script>
// https://stackoverflow.com/a/18170009/5058564
// https://stackoverflow.com/a/32749586/5058564
$("#id_blobeditform_save_no_reload").click(function() {
  if (! check_primary_tab() ) {
     return false;
  }
  update_editform();
  let blobeditform = document.getElementById("id_form_blobeditform");
   // serializes the form's elements.
  data = $("#id_form_blobeditform").serializeArray();
  // add fake button press
  data = data.concat([ {name: "save_no_reload", value: "save_no_reload"},]);
  // post form
  $.ajax(blobeditform.action, {
           type: "POST",
           url: blobeditform.action,
           data: data,
           success: function(response)  {
               msg = response['message'];
               if ( msg ) {
                 alert(msg); 
               }
           }
         });
   // avoid to execute the actual submit of the form.
    return false;
});
</script>
