<form action="{% url 'UUID:postedit' NICK=NICK UUID=UUID %}" id="{{ blobeditform.htmlid }}" method="post" class="w-100">
        {% csrf_token %}{{ blobeditform.non_field_errors }}
        {% for field in blobeditform %}{% if field.is_hidden %} {{ field }} {% else %}
         <div class="form-group w-100" id="id_div_blobeditform_{{field.name}}"  >
          {{ field.errors }}    {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <small class="font-italic">{{ field.help_text|safe }}</small>
          {% endif %}
         </div>
        {% endif %}{% endfor %}
        <input type="submit" class="btn btn-primary"
         data-toggle="tooltip" title="Commit changes, update PDF and HTML"
         onclick="update_editform(); return check_primary_tab();" id="id_blobeditform_commit" name="commit" value="Commit">
        <input type="submit" class="btn btn-primary" 
         data-toggle="tooltip" title="Save changes so far, update diff"
         id="id_blobeditform_save_no_reload" name="save" value="Save">
</form>
<button class="btn btn-primary" 
         data-toggle="tooltip" title="Check if remote was changed"
         id="id_blob_check_md5" onclick="check_remote_changed_md5();">Check</button>
