<form action="{% url 'UUID:postedit' NICK=NICK UUID=UUID %}" id="{{ blobeditform.htmlid }}" method="post" class="w-100">
        {% csrf_token %}{{ blobeditform.non_field_errors }}
        {% for field in blobeditform %}{% if field.is_hidden %} {{ field }} {% else %}
         <div class="form-group w-100" id="id_div_blobeditform_{{field.name}}"  >
          {{ field.errors }}    {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <small class="font-italic">{{ field.help_text|safe }}</small>
          {% endif %}
         </div>
        {% endif %}{% endfor %}
        <input type="submit" class="btn btn-primary" onclick="update_editform(); return check_primary_tab();" id="id_blobeditform_commit" name="commit" value="Commit">
        <input type="submit" class="btn btn-primary" onclick="update_editform(); return check_primary_tab();" id="id_blobeditform_save" name="save" value="Save">
</form>
