{% extends "bootstrapbase.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
<script>var NICK="{{NICK}}"; var UUID="{{UUID}}"; var BLOB="{{BLOB}}"; var VIEW="{{VIEW}}"; 
var view_md5="{{view_md5}}"; var view_mtime="{{view_mtime}}";
var blob_uncompiled={{ uncompiled }};
{% if VIEW %}
  var get_view_md5_url = "{% url 'UUID:md5' NICK=NICK UUID=UUID FILE=VIEW %}";
{% else %}
  var get_view_md5_url = "";
{% endif %}

function html_retrieve_substitute(url, identA, identP, identB)
{
  A = document.getElementById(identA);
  P = document.getElementById(identP);
  B = document.getElementById(identB);
  $.ajax(B.action, {
	   type: "GET",
	   url: url,
	   success: function(response)  {
	     B.style.display = "none";
             D = document.createElement('div');
             D.innerHTML = response;
             D.className = "border border-info m-2 p-1";
	     if(A) {
	      A.parentNode.replaceChild(D, A);
	     } else P.append(D);
	     MathJax.typeset();
	     },
	   error: function(){
	     B.style.display = "none";
	     alert('Cannot access element');
           },
	}
   );
};

</script>
<script src="{% static 'UUID/js/unique.js' %}"></script>

{# style for diff block #}
     <style>
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
        </style>
{% endblock %}

{% block title %} ColDoc — {{ NICK  }} — {{ UUID  }}{% endblock %}

{% block content %}

<h1><a href="{% url 'ColDoc:index' NICK=NICK %}">{{ NICK  }}</a> — {{ UUID }}  {{ access_icon | safe }}</h1>

 {% if uplink %}<a class="btn btn-outline-primary" href="{{uplink|safe}}">↑</a>
 {% else %}<div class="btn btn-outline-light disabled">↑</div>{% endif %}
 {% if leftlink %}<a class="btn btn-outline-primary" href="{{leftlink|safe}}">←</a>
 {% else %}<div class="btn btn-outline-light disabled">←</div>{% endif %}
 {% if rightlink %}<a class="btn btn-outline-primary" href="{{rightlink|safe}}">→</a>
 {% else %}<div class="btn btn-outline-light disabled">→</div>{% endif %}
 {% if downlink %}<a class="btn btn-outline-primary" href="{{downlink|safe}}">↓</a>
 {% else %}<div class="btn btn-outline-light disabled">↓</div>{% endif %}
 {% if pdfUUIDurl %} <a href="{{ pdfUUIDurl | safe }}" class="btn btn-outline-primary"
            data-toggle="tooltip" title="{% translate 'View this blob inside the whole PDF' %}">
  <img src="{% static 'ColDoc/Adobe_PDF_goto_icon.svg' %}"  style="height: 14pt" alt="view in whole PDF"></a>
 {% endif %}
{% if htmlUUIDurl %} <a href="{{ htmlUUIDurl | safe }}" class="btn btn-outline-primary"
            data-toggle="tooltip" title="{% translate 'View this blob inside the whole HTML' %}">
  <img src="{% static 'ColDoc/HTML_goto_icon.svg' %}"  style="height: 14pt" alt="view in whole HTML"></a>
 {% endif %}

 {% if buy_link %} <a href="{{ buy_link | safe }}" class="btn btn-outline-primary"
            data-toggle="tooltip" title="{{ buy_tooltip }}">{{ buy_label }}</a>
 {% endif %}

 {% if buy_form %}
 <form action="{% url 'wallet:authorize_purchase_encoded_post' %}" method="post" class="btn btn-outline-primary">
    {% csrf_token %}
    <table>{{ buy_form.as_table }}</table>
    <input type="submit"  data-toggle="tooltip" title="{{ buy_tooltip }}" value="{{ buy_label }}"  class="btn">
 </form>
 {% endif %}



<ul class="nav nav-tabs" id="myTab" role="tablist">
 {% if perms.UUID.view_view %}
  <li class="nav-item">
    <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="true">
    {% translate "View" %}</a>
  </li>
 {% endif %}
 {% if perms.UUID.view_blob %}
  <li class="nav-item">
    <a class="nav-link" id="blob-tab" data-toggle="tab" href="#blob" role="tab" aria-controls="blob" aria-selected="true">
    {% translate "Blob" %}</a>
  </li>
 {% endif %}
 {% if perms.UUID.view_dmetadata %}
  <li class="nav-item">
      <a class="nav-link" id="metadata-tab" data-toggle="tab" href="#metadata" role="tab" aria-controls="metadata" aria-selected="false">
      {% translate "Metadata" %}</a>
  </li>
 {% endif %}
 {% if show_comment %}
  <li class="nav-item">
    <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">
    {% translate "Comments" %}</a>
  </li>
 {% endif %}
 {% if perms.UUID.view_log %}
  <li class="nav-item">
    <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">
    {% translate "Logs" %}</a>
  </li>
 {% endif %}
  <li class="nav-item">
    <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">
    {% translate "Tools" %}</a>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
 {% if perms.UUID.view_view %}
  <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
    <h2>{% translate "View" %}</h2>
     {% if blobcontenttype == 'text' %}
     <div class="container">
     <div class="row">
      {% for thislang,thislanguage,html,pdfurl in all_views %}
       <div class="col-sm border border-info mt-1">
       {# if ('mul' == lang) or (len(Blangs) > 1) or (len(CDlangs) > 1) #} <h3> {% translate thislanguage %}</h3> {# endif #}
        <div class="border border-info">
         {{ html|safe }}
        </div>
         {% if pdfurl %}
          <a href="{{ pdfurl }}" class="btn btn-outline-primary btn-sm">{% translate "Download PDF" %}</a><br>
         {% endif %}
       </div>
       {% endfor %}
     </div>
     </div>
     {% else %}
      <!-- <a href="{{ showurl|safe }}?download"  class="btn btn-outline-primary btn-sm">Download</a>    <br> -->
      <iframe src="{{ showurl|safe }}"   width="100%"   height="640px">(View should be displayed here)</iframe>
     {% endif %}
     
      <div class="border border-info mt-2">
      {% translate "Authors" %}:
      {% with metadata.M_author as MA %}
       {% for  u in MA %} {{ u }} ; {% endfor %}
      {% endwith %}
      {% with metadata.author.all as A %}
       {% for  u in A %} 
            <a href="{{ u.get_absolute_url }}">           {{ u.pretty_user_name }}            </a>   
           {% if u == A.last %} . {% else %} ; {% endif %} {% endfor %}
      {% endwith %}
      </div>
  </div>
 {% endif %}


 {% if perms.UUID.view_blob %}
  <div class="tab-pane fade show" id="blob" role="tabpanel" aria-labelledby="blob-tab">
    <h2>Blob</h2>
    <div class="border border-info p-1 m-1">
    <ul>
    {% if blob_language %}<li>{% translate "Selected language:" %} {{ blob_language }}{% endif %}
    {% if ext %}<li>{% translate "Selected extension:" %} {{ ext }} {% endif %}
    </ul>
    {% if blobcontenttype == 'text' %}
     {% if perms.UUID.change_blob or perms.ColDocApp.add_blob  %}
     {{ blobeditform.media }}
      <div id="id_blobeditform_div" class="border border-info p-1 m-1">
       {% include "blobeditform.html" %}
      </div>
      {% if perms.UUID.change_blob %}
      <h3>Diff</h3>
 
      <div id="id_blob_diff" class="border border-info p-1 m-1">
       {{blobdiff | safe}} 
      </div>
      {% endif %}
     {% else %}
       <div class="border border-info"><code>{{ escapedfile | safe }}</code></div>
     {% endif %}
    {% else %}
      (this is not text but {{ blobcontenttype }})
      {% if perms.UUID.change_blob %}
      <div class="w-100 border border-info mt-2">
      <form enctype="multipart/form-data" method="post" action="{% url 'UUID:postupload' NICK=NICK UUID=UUID %}" id="{{ blobuploadform.htmlid }}"  class="w-100">
      {% csrf_token %}{{ blobuploadform.non_field_errors }}
       <table class="w-100">{{ blobuploadform }}</table>
       <input type="submit" class="btn btn-primary"  data-toggle="tooltip" title="{% translate 'Upload new content' %}"
       name="{% translate 'Upload' %}" value="Upload">
      </form></div>
      {% endif %}
    {% endif %}

    {% include "latex_error_logs.html" %}

    </div>
  </div>
 {% endif %}
 
 
 {% if perms.UUID.view_dmetadata %}
  <div class="tab-pane fade" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
  <h2>Metadata</h2>
    {% if perms.UUID.change_dmetadata %}
     <div class="border border-info mt-2">
      <h3>Editable metadata</h3>
      <form action="{% url 'UUID:postmetadataedit' NICK=NICK UUID=UUID %}" id="{{ metadataform.htmlid }}" method="post" class="w-100">
      {% csrf_token %}{{ metadataform.non_field_errors }}
                {{ metadataform.media.css }}
       <table class="w-100">{{ metadataform }}</table>
          {{ metadataform.media.js }}
         <input type="submit" class="btn btn-primary" onclick="return check_primary_tab();" value="Submit">
      </form>
     </div>
    {% endif %}
    {% if user.is_authenticated and user.is_staff %}
         <div class="border border-info mt-2">
        <a href="/admin/UUID/dmetadata/{{ metadata.id }}/change/"  class="btn btn-outline-primary btn-sm">
         {% translate "Edit using administrative interface" %}
         </a>
         </div>
    {% endif %}
    <div class="border border-info mt-2">
      <h3>All metadata</h3>
      <ul>
        {% for key,vals in metadata.htmlitems %}
        <li>  {{ key  }}
          <ul>
            {% for val,link in vals %}
            <li>{% if link  %}  <a href="{{ link }}">    {% endif %}
                {{ val }}
                {% if link %}  </a>   {% endif %}
              {% endfor %}
          </ul>
          {% endfor %}
      </ul>
    </div>
  </div>
 {% endif %} <!--if perms.UUID.view_dmetadata -->
 
 
 {% if show_comment %}
  <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
   TODO COMMENTS
     Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </div>
 {% endif %}
 
 
 {% if perms.UUID.view_log %}
  <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
    <div class="border border-info mt-2">
    <ul>
    {% for val,link in availablelogs %}
                <li>{% if link  %}  <a href="{{ link }}">    {% endif %}
                {{ val }}
                {% if link %}  </a>   {% endif %}
    {% endfor %}
    </ul>
    </div>
  </div>
 {% endif %}
 
 
  <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
  {% if  blob_language %}
   <div class="border border-info mt-2">
       {% translate "Managing blob in:" %}  {{ blob_language }} 
   </div>
  {% endif %}

  {% if buy_download_link or buy_download_form or perms.UUID.download %}
   <h2>{% translate "Download" %}</h2>
   <span data-toggle="tooltip" class="border fill m-2 p-3">
   {% translate  'Download blob' %}:
    {% if buy_download_link %} <a href="{{ buy_download_link | safe }}" class="btn btn-outline-primary"
            data-toggle="tooltip" title="{{ buy_download_tooltip }}">{{ buy_download_label }}</a>
    {% endif %}
    {% if buy_download_form %}
      <form action="{% url 'wallet:authorize_purchase_encoded_post' %}" method="post" class="btn btn-outline-primary">
        {% csrf_token %}
        <table>{{ buy_download_form.as_table }}</table>
        <input type="submit"  data-toggle="tooltip" title="{{ buy_download_tooltip }}" value="{{ buy_download_label }}"  class="btn">
      </form>
    {% endif %}
   <a href="{% url 'UUID:download' NICK=NICK UUID=UUID  %}?as=blob&lang={{ blob_lang }}&ext={{ ext }}"
             class="btn btn-outline-primary btn-sm p-2" data-toggle="tooltip"
             title="{% blocktranslate %}Download this blob as {{ blob_language }}.{% endblocktranslate %}">{{ blob_language }}</a>
  {% if blob_lang != view_lang %}
   <a href="{% url 'UUID:download' NICK=NICK UUID=UUID  %}?as=blob&lang={{ view_lang }}&ext={{ ext }}"
             class="btn btn-outline-primary btn-sm p-2" data-toggle="tooltip"
             title="{% blocktranslate %} Download this blob as {{ view_language }}.{% endblocktranslate %}">{{ view_language }}</a>
  {% endif %} {# ends blob_lang != view_lang #}
  </span>
   {% if its_something_we_would_latex %}
   <span data-toggle="tooltip" class="border fill m-2 p-3"
             title="{% blocktranslate %}Download this blob together with all parts that constitute a complete, compilable, {{ view_language }} LaTeX document.{% endblocktranslate %}">
       {% blocktranslate %}Download inside complete {{ view_language }} document{% endblocktranslate %}:
   <a href="{% url 'UUID:download' NICK=NICK UUID=UUID  %}?as=single&lang={{ view_lang }}&ext={{ ext }}"
             class="btn btn-outline-primary btn-sm" data-toggle="tooltip"
             title="{% translate 'Download this blob embedded in a complete, compilable, LaTeX document.' %}">
       {% translate 'as single document' %};</a>
   <a href="{% url 'UUID:download' NICK=NICK UUID=UUID  %}?as=zip&lang={{ view_lang }}&ext={{ ext }}"
             class="btn btn-outline-primary" data-toggle="tooltip" title="{% translate 'All pieces are shipped in a ZIP file' %}">
       {% translate 'as ZIP' %};</a>
   <a href="{% url 'UUID:download' NICK=NICK UUID=UUID  %}?as=email&lang={{ view_lang }}&ext={{ ext }}"
             class="btn btn-outline-primary" data-toggle="tooltip" title="{% translate 'All pieces are sent as attachments to an email' %}">
       {% translate 'by email' %}.</a>
   </span>
   {% endif %} {# its_something_we_would_latex #}
  {% endif %}   {# perms.UUID.download or buy_download_info #}
  
  
  {% if  langforms and perms.UUID.change_dmetadata and perms.UUID.change_blob %}
    <h2>{% translate "Language tools" %}</h2>
    {% for form, label, tooltip, buttonclass in langforms %}
      <!--<div class="border border-info mt-2">-->
        <form action="{% url 'UUID:postlang' NICK=NICK UUID=UUID %}" method="post" class="border border-info mt-2">
        {% csrf_token %}
        <span class="font-weight-bold">{{ tooltip | safe }}</span>
        <table>
        {# form.as_table : this produces incorrect HTML, for hidden fields #}
        {% for field in form.visible_fields %}<tr><td>{{ field.errors }}</td>
        <td>{{ field.label_tag }}</td><td> {{ field }}</td></tr>{% endfor %}
        </table>
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <input type="submit"  
           {# data-toggle="tooltip" title="{{ tooltip | safe }}" #}
        onclick="if(blob_uncompiled != 0) { alert('Cannot proceed, there are uncompiled changes'); return false;}"
        value="{{ label }}" name="button"  class="btn {{ buttonclass }}">
      </form>
      <!--</div>-->
     {% endfor %}
   {% endif %}
 
  </div>

{% if perms.UUID.view_view %}
      {% if  uuid_languages %}
        <div class="border border-info mt-4 mb-4">
          {% translate "This content is available in:" %}
          {% for val,link in uuid_languages %}
            <a href="{{ link }}">  {{ val }} </a>
          {% endfor %}
        </div>
      {% endif %}
{% endif %}

</div>

{% endblock %}
