 {% if uplink %}<a class="btn btn-outline-primary" href="{{uplink|safe}}">↑</a>
 {% else %}<span class="btn btn-outline-light disabled">↑</span>{% endif %}
 {% if leftlink %}<a class="btn btn-outline-primary" href="{{leftlink|safe}}">←</a>
 {% else %}<span class="btn btn-outline-light disabled">←</span>{% endif %}
 {% if rightlink %}<a class="btn btn-outline-primary" href="{{rightlink|safe}}">→</a>
 {% else %}<span class="btn btn-outline-light disabled">→</span>{% endif %}
 {% if downlink %}<a class="btn btn-outline-primary" href="{{downlink|safe}}">↓</a>
 {% else %}<span class="btn btn-outline-light disabled">↓</span>{% endif %}

