{% extends "bootstrapbase.html" %}

{% block title %} ColDoc — {{ NICK  }} — {{ UUID  }}{% endblock %}

{% block content %}

<h1><a href="{% url 'ColDoc:index' NICK=NICK %}">{{ NICK  }}</a> — {{ UUID }}</h1>

 {% if uplink %}<a class="btn btn-outline-primary" href="{{uplink|safe}}">↑</a>
 {% else %}<div class="btn btn-outline-light disabled">↑</div>{% endif %}
 {% if leftlink %}<a class="btn btn-outline-primary" href="{{leftlink|safe}}">←</a>
 {% else %}<div class="btn btn-outline-light disabled">←</div>{% endif %}
 {% if rightlink %}<a class="btn btn-outline-primary" href="{{rightlink|safe}}">→</a>
 {% else %}<div class="btn btn-outline-light disabled">→</div>{% endif %}
 {% if downlink %}<a class="btn btn-outline-primary" href="{{downlink|safe}}">↓</a>
 {% else %}<div class="btn btn-outline-light disabled">↓</div>{% endif %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
 {% if perms.UUID.view_view %}
  <li class="nav-item">
    <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="true">View</a>
  </li>
 {% endif %}
 {% if perms.UUID.view_blob %}
  <li class="nav-item">
    <a class="nav-link" id="blob-tab" data-toggle="tab" href="#blob" role="tab" aria-controls="blob" aria-selected="true">Blob</a>
  </li>
 {% endif %}
 {% if perms.UUID.view_dmetadata %}
  <li class="nav-item">
      <a class="nav-link" id="metadata-tab" data-toggle="tab" href="#metadata" role="tab" aria-controls="metadata" aria-selected="false">Metadata</a>
  </li>
 {% endif %}
 {% if show_comment %}
  <li class="nav-item">
    <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
  </li>
 {% endif %}
 {% if perms.UUID.download %}
  <li class="nav-item">
    <a class="nav-link" id="download-tab" data-toggle="tab" href="#download" role="tab" aria-controls="download" aria-selected="false">Download</a>
  </li>
 {% endif %}
  <li class="nav-item">
    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Other</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 {% if perms.UUID.view_view %}
  <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
    <h2>View</h2>
     {% if blobcontenttype == 'text' %}
      <div class="border border-info">
      {{ html|safe }}
      </div>
     {% else %}
      <!-- <a href="{{ showurl|safe }}?download"  class="btn btn-outline-primary btn-sm">Download</a>    <br> -->
      <iframe src="{{ showurl|safe }}"   width="100%"   height="640px">(View should be displayed here)</iframe>
     {% endif %}
     <a href="{{ pdfurl }}" class="btn btn-outline-primary btn-sm">Download PDF</a><br>
  </div>
 {% endif %}
 {% if perms.UUID.view_blob %}
  <div class="tab-pane fade show" id="blob" role="tabpanel" aria-labelledby="blob-tab">
    <h2>Blob</h2>
    <div class="border border-info">
    <ul>
    {% if lang %}<li>Selected language {{ lang }}{% endif %}
    {% if ext %}<li>Selected extension {{ ext }} {% endif %}
    </ul>
    {% if blobcontenttype == 'text' %}
     {% if perms.UUID.change_blob %}
      <form action="{% url 'UUID:postedit' NICK=NICK UUID=UUID %}" method="post" class="w-100">
        {% csrf_token %}
        {% for field in blobeditform %}{% if field.is_hidden %} {{ field }} {% else %}
         <div class="form-group w-100">
          {{ field.errors }}    {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <small class="font-italic">{{ field.help_text|safe }}</small>
          {% endif %}
         </div>
        {% endif %}{% endfor %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
     {% else %}
       {{ file | safe }}
     {% endif %}
    {% else %}
      (this is not text but {{ blobcontenttype }})
    {% endif %}
  </div>
 {% endif %}
 {% if perms.UUID.view_dmetadata %}
  <div class="tab-pane fade" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
  <h2>Metadata</h2>
    <div class='metadata'>
      <ul>
        {% for key,vals in metadata.htmlitems %}
        <li>  {{ key  }}
          <ul>
            {% for val,link in vals %}
            <li>{% if link  %}  <a href="{{ link }}">    {% endif %}
                {{ val }}
                {% if link %}  </a>   {% endif %}
              {% endfor %}
          </ul>
          {% endfor %}
      </ul>
    </div>
  </div>
 {% endif %}
 {% if show_comment %}
  <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
   TODO COMMENTS
     Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </div>
 {% endif %}
 {% if perms.UUID.download %}
  <div class="tab-pane fade" id="download" role="tabpanel" aria-labelledby="download-tab">
    <!-- <a href="{{ htmlurl }}?download" class="btn btn-outline-primary btn-sm">Download HTML</a> -->
  </div>
 {% endif %}
  <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
    TODO OTHER
  Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </div>
</div>

{% endblock %}
