beautifulsoup4 >= 4
Django >= 4
django-allauth >= 0.51.0
django-guardian >= 2.4.0
django-select2 >= 7
lockfile >= 0.12.2
whitenoise >= 6.4.0
django-simple-captcha >= 0.5.17
pylatexenc >= 2.10
mysqlclient >= 2.1.1
pycountry >= 22.3.5
python-magic >= 0.4.27
coldoc_tasks  @ git+https://github.com/mennucc/coldoc_tasks
