{% extends "bootstrapbase.html" %}
{% load i18n %}
{% block title %} ColDoc — {{ coldoc.nickname }} — {% translate 'book index' %} {% endblock %}
{% block content %}

<h1>{% if coldoc.title %} {{coldoc.title}} {% else %}
ColDoc  — {{ coldoc.nickname }} {% endif %} —
{% translate 'book index' %}
</h1>

{% if index %}
 {% for language, subindex in index %}
   <h2> {{ language }}</h2>
    <ul>
    {% for key, uuids in subindex %}
        <li>
        <code> {{key}} </code>,
        {% for uuid, html, text_class in uuids %}
            <a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=uuid %}" class="{{ text_class }}">{{ html | safe }}</a>,
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% else %}
    <p><i>{% translate 'The index is empty.' %}</i></p>
{% endif %}


{% endblock %}
