{% extends "bootstrapbase.html" %}
{% load i18n %}
{% block title %} ColDoc — {{ coldoc.nickname }} — {% translate 'book index' %} {% endblock %}
{% block content %}

<h1>{% if coldoc.title %} {{coldoc.title}} {% else %}
ColDoc  — {{ coldoc.nickname }} {% endif %} —
{% translate 'book index' %}
</h1>

{% if index %}
 {% for lang3, language, subindex in index %}
   <h2>   {{ language }}   </h2>
    <ul>
    {% for sortkey, key, uuids in subindex %}
        <li>
        <span {% if sortkey %}data-toggle="tooltip" title="{{ sortkey }}"{%endif%} class="bg-light {{ keyclass }}"> {{key}} </span>,
        {% for uuid, marker, refkey, text_class, fullkey in uuids %}
            <a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=uuid %}" 
               {% if fullkey %} data-toggle="tooltip" title="{{ fullkey }}" {%endif%}>
             <span class="{{ text_class }}">{{ marker }}</span>
             {% if refkey %}<span class="mathjaxme">{{ refkey }}</span>{% endif %}
            </a>
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
   {% if n_languages_after_merge > 1 and lang3 %}
   <a href="{% url 'ColDoc:bookindex' NICK=coldoc.nickname %}?lang={{ lang3 }}"  class="btn  btn-outline-primary btn-sm">
   {% blocktranslate %}Show only {{ language }}.{% endblocktranslate %}   </a>
   {% endif %}
  {% endfor %}

   {% if n_languages_before_merge > 1 and n_languages_after_merge <= 1 %}
   <a href="{% url 'ColDoc:bookindex' NICK=coldoc.nickname %}"  class="btn  btn-outline-primary btn-sm">
   {% translate 'Show index broken down by language' %}</a>
   {% endif %}


{% else %}
    <p><i>{% translate 'The index is empty.' %}</i></p>
{% endif %}


{% endblock %}
