{% extends "bootstrapbase.html" %}
{% block title %}home{% endblock %}
{% block content %}
{% if site.google_custom_search_id %}
<script>
  (function() {
    var cx = '{{ site.google_custom_search_id }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endif %}

<h1>ColDoc Document: {{ coldoc.title }}</h1>
First published {{ coldoc.pub_date }}
{% if coldoc.authors %}
<h2>Authors</h2>
<p> {{ coldoc.authors|escape|linebreaks }}</p>
{% endif %}
{% if coldoc.abstract %}
<h2>Abstract</h2>
<p>{{ coldoc.abstract }}</p>
{% endif %}

<br>

<a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=coldoc.root_uuid %}">
<button   type="button" class="btn btn-outline-primary btn-sm">
  VIEW
</button>
</a>

{% if user.is_authenticated %}
<h2>Settings</h2>
<ul>
  <li> latex_engine = {{ coldoc.latex_engine }}
  <li> latex_documentclass = {{ coldoc.latex_documentclass |escape }}
  <li> latex_documentclass_options = {{ coldoc.latex_documentclass_options | escape }}
</ul>
<a href="/admin/ColDocApp/dcoldoc/{{ coldoc.nickname }}/change/">
<button   type="button" class="btn btn-outline-primary btn-sm">
  EDIT INFO
</button>
</a>
{% endif %}

{% endblock %}
