{% extends "bootstrapbase.html" %}
{% load i18n %}
{% load static %}
{% load tz %}
{% block title %} {{ coldoc.nickname }} — ColDoc{% endblock %}
{% block extrahead %}<script src="{% static 'ColDoc/js/dyna.js' %}"></script>{% endblock %}
{% block content %}


<h1>{% if coldoc.title %} {{coldoc.title}} {% else %}
ColDoc  — {{ coldoc.nickname }} {% endif %}</h1>

{% translate "First published" %}
{{ coldoc.publication_time  | localtime }}
{{ coldoc.publication_time  | localtime |  date:"e"}}
<br>
{% translate "Last updated" %}
{{ coldoc.blob_modification_time  | localtime }}
{{ coldoc.blob_modification_time  | localtime  | date:"e"}}


{% if coldoc.authors %}
<h2>{% translate "Authors" %}</h2>
<p> {{ coldoc.authors|escape|linebreaks }}</p>
{% endif %}
{% if coldoc.abstract %}
<h2>Abstract</h2>
<p>{{ coldoc.abstract }}</p>
{% endif %}

<br>

<a href="{% url 'ColDoc:html' NICK=coldoc.nickname %}" class="btn {{ whole_button_class }} btn-sm">
 {% translate "View whole document" %}
</a>

<a href="{% url 'ColDoc:pdfframe' NICK=coldoc.nickname %}#titlebeforepdf" class="btn {{ whole_button_class }} btn-sm">
 {% translate "View whole document, as PDF" %}
</a>

<a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=coldoc.root_uuid %}" class="btn btn-outline-primary btn-sm">
 {% translate "Navigate document tree" %}
</a>

<br>

{% if user.is_editor %}
<a href="{% url 'ColDoc:latex' NICK=coldoc.nickname %}?type=anon"
 class="btn btn-outline-primary btn-sm" data-toggle="tooltip" 
 title="{% translate 'Compile whole document. In this HTML and PDF private material is omitted.' %}">
 {% translate "Compile public" %} 
</a>
<a href="{% url 'ColDoc:latex' NICK=coldoc.nickname  %}?type=main" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" 
 title="{% translate 'Compile whole document. This HTML and PDF are visible only to editors; all material is visible.' %}">
 {% translate "Compile private" %}
</a>
<a href="{% url 'ColDoc:latex' NICK=coldoc.nickname  %}?type=tree" class="btn btn-outline-primary btn-sm"
 data-toggle="tooltip" title="{% translate 'Recompile HTML and PDF for all blobs.' %}">
 {% translate "Compile blobs" %}
</a>
<a href="{% url 'ColDoc:reparse' NICK=coldoc.nickname  %}" class="btn btn-outline-primary btn-sm"
 data-toggle="tooltip" title="{% translate 'Reparse all blobs to extract metadata.' %}">
 {% translate "Reparse" %}
</a>
{% endif %}

<!-- <a href="{{ htmlurl }}?download"><button type="button" class="btn btn-outline-primary btn-sm">Download</button></a>    <br> -->

<!-- <h2>View</h2> <iframe src="{{ htmlurl }}"   width="100%"   height="640px">(View should be displayed here)</iframe> -->



<ul class="nav nav-tabs" id="myTab" role="tablist">
 {% if user.is_editor %}
  <li class="nav-item">
    <a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="true">
    {% translate "Status" %}</a>
  </li>
 {% endif %}
 {% if  user.is_staff or perms.ColDocApp.view_dcoldoc %}
  <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
      {% translate "Settings" %}</a>
  </li>
 {% endif %}
  {% if perms.UUID.view_log %}
  <li class="nav-item">
    <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">
    {% translate "Logs" %}</a>
  </li>
 {% endif %}
 {% if  USE_BACKGROUND_TASKS and user.is_editor %}
  <li class="nav-item">
    <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">
    {% translate "Tasks" %}</a>
  </li>
 {% endif %}
</ul>



<div class="tab-content" id="myTabContent">

{% if user.is_editor %}
<div class="tab-pane fade show active border m-2 p-1" id="status" role="tabpanel" aria-labelledby="status-tab">
<h2>{% translate "Document checks" %}</h2>
<div class="border border-info m-2 p-1">
<div id='id_check_tree'>......</div>
<button   type="button" class="btn btn-outline-primary btn-sm" id="id_button_check_tree" onClick="AJAXcheck_tree('{{ check_tree_url }}');">
  {% translate "Check tree" %}
</button>
</div>
<script>
const check_tree_url = '{{ check_tree_url }}';
window.addEventListener("load", (event) => {
   AJAXcheck_tree(check_tree_url);
 });
</script>

<div id="id_latex_error_logs" class="border border-info mt-2">
{% include "latex_error_logs.html" %}
</div>

{% if failedblobs %}
<h2>{% translate "Failed blobs in tree" %}</h2>
<ul>
 {% for val ,link in failedblobs %}
 <li>{% if link  %}  <a href="{{ link }}">    {% endif %}
                {{ val }}
                {% if link %}  </a>   {% endif %}
{% endfor %}
</ul>
{% endif %}
</div> <!-- div view -->
{% endif %} <!-- if editor-->


<div class="tab-pane fade show border m-2 p-1" id="settings" role="tabpanel" aria-labelledby="settings-tab">
{% if perms.ColDocApp.view_dcoldoc %}
<h2>{% translate "Settings" %}</h2>
<div class="border border-info m-2 p-1">
     {% if perms.ColDocApp.change_dcoldoc %}
     <form action="{% url 'ColDoc:postcoldocedit' NICK=NICK %}" id="{{ coldocform.htmlid }}" method="post" class="w-100">
     {% csrf_token %}{{ coldocform.non_field_errors }}
     {% endif %}
<table class="w-100">{{ coldocform }}</table>
{% if perms.ColDocApp.change_dcoldoc %} <input type="submit" class="btn btn-primary" value="Submit">   </form> {% else %}
   <div class="alert alert-warning" role="alert">{% translate "No permission to change data." %}</div>{% endif %}
</div>
{% endif %} <!--perms.ColDocApp.view_dcoldoc-->

{% if user.is_staff %}
<a href="/admin/ColDocApp/dcoldoc/{{ coldoc.nickname }}/change/" class="btn btn-outline-primary btn-sm">
  {% translate "edit settings in admin form" %}
</a>
{% endif %}
</div>  <!-- settings tab -->

 {% if perms.UUID.view_log %}
  <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
    <div class="row">
    {% for val1,availablelogs2 in availablelogs %}
      <div class="col">
       <h3>{{ val1 }}</h3>
       <ul>
       {% for val2,link in availablelogs2 %}
                <li>{% if link  %}  <a href="{{ link }}">    {% endif %}
                {{ val2 }}
                {% if link %}  </a>   {% endif %}
		</li>
      {% endfor %}
       </ul>
      </div>
    {% endfor %}
    </div>
  </div>
 {% endif %}
 

{% if  USE_BACKGROUND_TASKS and user.is_editor %}
 <div class="tab-pane fade show border m-2 p-1" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
<h2>{% translate "Tasks" %}</h2>
<div class="row border border-info m-2 p-1"> 
{% for val in tasks %}
 <table class="col sm border border-info m-1 p-1">{{ val }} </table>
{% endfor %}
</div>
<h2>{% translate "Completed Tasks" %}</h2>
<div class="row border border-info m-2 p-1"> 
{% for val in completed_tasks %}
 <table class="col sm border border-info m-1 p-1">{{ val }} </table>
{% endfor %}
</div>
</div> <!-- view tab -->
{% endif %} <!-- if editor etc -->

</div> <!--class="tab-content" id="myTabContent"-->

{% endblock %}
