{% extends "bootstrapbase.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script>
var view_md5="{{view_md5}}"; var view_mtime="{{view_mtime}}";
const get_view_md5_url = "{% url 'UUID:md5' NICK=NICK UUID=UUID ACCESS=ACCESS FILE=FILENAME %}";
</script>
<script src="{% static 'UUID/js/notifychange.js' %}"></script>
{% endblock %}
{% block title %} ColDoc — PDF — {{ NICK  }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
        <a name="titlebeforepdf"> Coldoc  {{ NICK  }} — 
        {% translate  'Language' %}  {{ LANGUAGE }} —
        {% translate  'Access' %}  {{ ACCESS }} </a>
        </div>
        <div class="row justify-content-center flex-grow-1">
          <object data="{{ pdfurl | safe }}" type="application/pdf" class="h-100 w-100" id="id_pdf_object">
            <iframe src="{{ pdfurl | safe }}" class="h-100 w-100"></iframe>
            <!--<iframe src="https://docs.google.com/viewer?url=your_url_to_pdf&embedded=true"></iframe>-->
          </object>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
    $('#id_pdf_object').focus();
});
</script>
{% endblock %}
