{% extends "bootstrapbase.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script>
var view_md5="{{view_md5}}"; var view_mtime="{{view_mtime}}";
var get_view_md5_url = "{% url 'UUID:md5' NICK=NICK UUID=UUID ACCESS=ACCESS FILE=FILENAME %}";
</script>
<script src="{% static 'UUID/js/unique.js' %}"></script>
{% endblock %}
{% block title %} ColDoc — PDF — {{ NICK  }}{% endblock %}

{% block content %}
  <div class="container-fluid">
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
        <a name="titlebeforepdf"> Coldoc  {{ NICK  }} — 
        {% translate  'Language' %}  {{ LANGUAGE }} —
        {% translate  'Access' %}  {{ ACCESS }} </a>
        </div>
        <div class="row justify-content-center flex-grow-1">
          <iframe src="{{ pdfurl | safe }}" width="100%" height="100%">pdf frame</iframe>
        </div>
      </div>
    </div>
</div>

{% endblock %}
