{% extends "bootstrapbase.html" %}
{% load i18n %}
{% block title %} ColDoc — {{ coldoc.nickname }} — {% translate 'search' %} {% endblock %}
{% block content %}

<h1>{% if coldoc.title %} {{coldoc.title}} {% else %}
ColDoc  — {{ coldoc.nickname }} {% endif %} — 
{% translate 'search results' %}</h1>


<h2>Blob UUID</h2>
{% if uuid_list %}
    <ul>
    {% for blob in uuid_list %}
        <li><a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=blob.uuid %}">
        {{ blob.uuid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
 {% if maybe_uuid %}
    <p><i>The query does not match any known UUID.</i></p>
    {% else %}
    <p><i>The query is not a valid UUID.</i></p>
 {% endif %}
{% endif %}

<h2>Blob index</h2>
{% if index_list %}
    <ul>
    {% for lang, sortkey, key, uuids in index_list %}
        <li><span class="bg-light">{{ key }}</span> {{ lang }}:
            {% for uuid, see, refkey, keyclass, orig in uuids %}
            <a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=uuid %}">
            {% if see %}<span class="font-italic">{{ see }}</span>{% endif %}
            {% if refkey %}<span class="{{keyclass}}">{{ refkey }}</span>{% endif %}
            </a>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p><i>The query does not match any indexed entry.</i></p>
{% endif %}

<h2>Blob metadata</h2>
{% if user.is_authenticated %}
{% if meta_list %}
    <ul>
    {% for extra in meta_list %}
        <li><a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=extra.blob.uuid %}">
        {{ extra.blob.uuid }}</a>: {{extra.key}} = <code> {{extra.value}} </code></li>
    {% endfor %}
    </ul>
{% else %}
    <p><i>The query does not match any metadata entry.</i></p>
{% endif %}
{% else %}
    <p><i>You do not have permissions to search this catalog. Please login.</i></p>
{% endif %}

<h2>Blob label</h2>
{% if user.is_authenticated %}
{% if label_list %}
    <ul>
    {% for extra in label_list %}
        <li><a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=extra.blob.uuid %}">
        {{ extra.blob.uuid }}</a>: {{extra.key}} = {{extra.value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p><i>The query does not match any label.</i></p>
{% endif %}
{% else %}
    <p><i>You do not have permissions to search this catalog. Please login.</i></p>
{% endif %}

<h2>Blob reference</h2>
{% if user.is_authenticated %}
{% if ref_list %}
    <ul>
    {% for extra in ref_list %}
        <li><a href="{% url 'UUID:index' NICK=coldoc.nickname UUID=extra.blob.uuid %}">
        {{ extra.blob.uuid }}</a>: {{extra.key}} = {{extra.value}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p><i>The query does not match any label.</i></p>
{% endif %}
{% else %}
    <p><i>You do not have permissions to search this catalog.  Please login.</i></p>
{% endif %}

<h2>Blob text</h2>
{% if text_list %}
    <ul>
    {% for uuid, lang, link, link_class, text, text_class in text_list %}
        <li><a href="{{ link }}" class="{{ link_class }}">
        {{ uuid }}/{{ lang }}</a>: <span class="{{ text_class }}"> {{text}} </span></li>
    {% endfor %}
    </ul>
{% else %}
    <p><i>The query does not match any text content.</i></p>
{% endif %}


{% endblock %}
